body {
    background-color: whitesmoke;
}

header {   
    background-color: lightblue;
    padding: 24px;
}

header h1 {
    text-align: center;
    font-size: 3em;
}

header p {
    text-align: center;
    font-size: 24px;
}

header p::before {
    content: "(";
}

header p::after {
    content: ")";
}

/* Seção do site */

section {
    text-align: center;
}

section h1 {
    font-size: 30px;
    margin: 2.5em;
}

section p {
    margin: 2em;
    font-size: 16px;
}

section p::first-letter {
    font-weight: bold;
    font-size: 18px;
    color: black;
}